.email-card{
    display: flex;
    width: 100%;
    border: 2px solid var(--border);
    margin: 2% 0%;
    border-radius: 5px;
}
.profile-picture>img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 50%;
}
.profile-picture{
    margin: 0% 2%;

}
.email-card-text{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 0px 15px;
    color: var(--text);
    font-family: sans-serif;
    background-color: var(--background);
    font-family:sans-serif;
}
.selected{
    border: 2px solid var(--accent);
}